<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập | Công Ty Cổ Phần Xe Khách Phương Trang</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="bg-login-admin">
    <section class="container pt-7 m-7">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <img src="~/Content/Images/logoText.png" alt="logologin logo" class="logo-image" style="margin-right: 10px;">
                    <img src="~/Content/Images/logologin.png" alt="logologin logo" class="logo-image">
                    <div class="card-header"><p class="card-title m-0" style="font-size:17px;">Đăng nhập</p></div>
                    <div class="card-body">
                        <form action="" id="form-login" method="POST">

                            <div>
                                <input type="text" name="username" id="e-mail" class="form-control" placeholder="Account">
                                <span class="text-danger" id="checkuser"></span>
                            </div>

                            <div class="pt-3" id="pass">
                                <div class="input-group">
                                    <input type="password" name="password" id="password" class="form-control" placeholder="Password">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-light border" id="togglePassword" onclick="togglePasswordVisibility()">
                                            Hiện
                                        </button>
                                    </div>
                                </div>
                                <span class="text-danger" id="checkpass"></span>
                            </div>

                            <span class="text-danger">@ViewBag.error</span>
                            <div class="pt-3">
                                <input type="checkbox" name="checkbox" id="checkbox" style="margin-right: 10px; width: 20px; height: 20px; accent-color: #007bff; cursor: pointer;">
                                <label for="checkbox" class="card-text text-dark m-0">Lưu mật khẩu</label>
                            </div>
                            <div class="pt-2" name="login"><button class="btn btn-primary btn-block" type="submit">Đăng Nhập</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

<script>
    function togglePasswordVisibility() {
        const passwordField = document.getElementById("password");
        const toggleButton = document.getElementById("togglePassword");

        if (passwordField.type === "password") {
            passwordField.type = "text";
            toggleButton.textContent = "Ẩn";
        } else {
            passwordField.type = "password";
            toggleButton.textContent = "Hiện";
        }
    }
</script>
