@model IEnumerable<VEXE.Models.menu>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .navigation {
        padding-bottom: 10px;
        background-color: white;
    }

    .navigation-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }

    #navbar {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


        #navbar ul {
            list-style: none;
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0;
            flex-direction: row;
        }

            #navbar ul li {
                margin: 0 20px;
            }

                #navbar ul li a {
                    text-decoration: none;
                    color: #000000 !important;
                    font-size: 15px;
                    font-weight: bold;
                    padding: 10px 15px;
                    transition: all 0.5s ease;
                    border-radius: 5px;
                }

                    #navbar ul li a:hover {
                        background-color: #ff6a00;
                        color: #808080 !important;
                    }
</style>

<div class="navigation bg-white" style="padding-bottom: 10px;">
    <div class="container ">
        <div class="navigation-content">
            <div class="header_menu">
                <!-- start Navbar (Header) -->
                <nav class="navbar navbar-default navbar-sticky-function navbar-arrow">
                    <div id="navbar" class="navbar-nav-wrapper">
                        <ul class="nav navbar-nav " id="responsive-menu">
                            @foreach (var item in Model)
                            {
                                <li>
                                    <a href="~/@item.link" @*style="color: #000000; "*@>@item.name </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div id="slicknav-mobile"></div>
                </nav>
            </div>
        </div>
    </div>
</div>